**jdbc bank application**

ㅁ requirements
	ㅁ 사용자는 계좌개설이 가능하다.
	ㅁ 계좌개설시 계좌번호, 계좌주명, 비밀번호, 잔액정보가 저장되어야 한다.
	ㅁ 최초 계좌개설시 초기 납입액은 1000원 이상이어야 한다.
	ㅁ 계좌번호는 유일해야하고, 시스템에서 자동 발급한다.
		ㅁ sequence
	ㅁ 잔액조회는 계좌번호에 대한 계좌가 존재해야 하며, 계좌번호의 비밀번호가 일치해야 잔액을 보여준다.
	ㅁ 입금액, 출금액, 계좌이체액은 모두 0원을 초과해야 한다.
	ㅁ 입금시 계좌번호 체크 및 비밀번호 일치여부를 확인한 후 진행한다.
	ㅁ 출금시에도 계좌번호 체크 및 비밀번호 일치여부를 확인하고, 잔액확인절차가 필요하다.
		ㅁ 출금후 금액 연산을 통해 잔액계산 및 처리한다.
	ㅁ 계좌이체시 송금자, 수금자 계좌가 존재해야하며 조건 만족시 진행가능하다.
		ㅁ 이체액은 0원을 초과해야한다.
		ㅁ 송금자의 비밀번호가 일치해야하고, 이체액에 따른 송금자의 계좌 잔액 확인 절차가 필요하다.
	ㅁ 송금 및 수금처리가 모두 정상적으로 수행될 경우에만 실제 이체처리 진행 및 DB에 반영한다.
		ㅁ transaction
	ㅁ 잔액이 가장 높은 계좌주명과 잔액을 조회할 수 있다.
		ㅁ subQuery
	
ㅁ functional concepts
	ㅁ 계좌개설
	ㅁ 잔액조회
	ㅁ 입금
	ㅁ 출금
	ㅁ 계좌이체
	ㅁ 최고잔액 계좌정보 조회
	
	※ 요구분석 diagram, UseCase Diagram
		ㅁ 사용자 관점에서 시스템의 주요기능을 분석
	
ㅁ design
	ㅁ DB
		ㅁ DDL
		ㅁ DML
	ㅁ Application